<div>
  <div class="example-label">
    Time is remaining in minutes.... {{ getMyTime() | date: "HH:mm:ss" }}
  </div>
  <div style="width: 50%">
    <mat-progress-bar
      mode="determinate"
      [value]="timeRemainingPer"
    ></mat-progress-bar>
  </div>
</div>
<br />

<div mat-dialog-content>
  <input
    matInput
    type="text"
    [(ngModel)]="progressInputValue"
    placeholder="Provide time in minutes."
    [disabled]="startFlag"
  />
</div>

<br />

<section>
  <div class="example-button-row">
    <button
      id="start"
      mat-raised-button
      color="primary"
      (click)="onStart()"
      [disabled]="startFlag"
    >
      Start
    </button>
    <button
      mat-raised-button
      id="stop"
      color="primary"
      (click)="onStop()"
      [disabled]="!startFlag"
    >
      Stop
    </button>
    <button id="reset" mat-raised-button color="primary" (click)="onReset()">
      Reset
    </button>
  </div>
</section>
