section {
  display: table;
}

.example-label {
  font-size: 20px;
  margin-top: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
